@model InventoryViewModel

@{
    ViewBag.Title = @Model.Name;
    ViewBag.Meta = @Model.Details;
    ViewBag.Keywords = @Model.Tags;
}

<h1>@Model.Name</h1>

@if (User.IsInRole("InventoryManager"))
{
    @Html.ActionLink("Edit", "Edit", "Inventory", new { id = Model.InventoryId }, null) @Html.Encode(" | ")
    @Html.ActionLink("Edit Pictures", "Upload", "Picture", new { id = Model.InventoryId }, null) @Html.Encode(" | ")
}
else
{
    <a href="mailto:sales@soberaysons.com?subject=Item Number @Model.InventoryId">More Information</a> @Html.Encode(" | ")
    
}
@Html.ActionLink("Print This", "Print", new { id = Model.InventoryId })
<br />
<br />

<table>
    <tr>
        <td colspan="5" style="background-color:Gray;color:White;">Item Number</td>
    </tr>
    <tr>
        <td>@Model.InventoryId</td>
    </tr>
    <tr style="background-color:Gray;color:White;">
            <td style="background-color:Gray;color:White;">Manufacturer</td>
            <td style="background-color:Gray;color:White;">Qty</td>
            <td style="background-color:Gray;color:White;">Size</td>
            <td style="background-color:Gray;color:White;">Style</td>
            <td style="background-color:Gray;color:White;">Category List</td>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Manufacturer)</td>
        <td>@Html.DisplayFor(model => model.Quantity)</td>
        <td>@Html.DisplayFor(model => model.Size)</td>
        <td>@Html.DisplayFor(model => model.Style)</td>
        <td>@Html.DisplayFor(model => model.Category)</td>
    </tr>
    <tr>
        <td colspan="5" style="background-color:Gray;color:White;">Details</td>
    </tr>
    <tr>
        <td colspan="5">@Html.DisplayFor(model => model.Details)</td>
    </tr>
    @if (User.IsInRole("Authenticated"))
    {
        <tr style="background-color:Gray;color:White;">
            <td>Location</td>
            <td>Cost</td>
            <td>Selling Price</td>
            <td>Joint Venture</td>
            <td>Category</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Location)</td>
            <td>@Html.DisplayFor(model => model.Cost)</td>
            <td>@Html.DisplayFor(model => model.SellingPrice)</td>
            <td>@Html.DisplayFor(model => model.JointVenture)</td>
        </tr>
        <tr style="background-color:Gray;color:White;">
            <td>Featured Rubber</td>
            <td>Featured Tire</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.FeaturedRubber)</td>
            <td>@Html.DisplayFor(model=>model.FeaturedTire)</td>
        </tr>
        
    }

</table>
<br />
<div>Tags: @Html.DisplayFor(model => model.Tags)</div>
<br />

<fieldset>
    <legend>Images</legend>
    @if (Model.PictureUrls.Any())
    {
        foreach (var pic in Model.PictureUrls)
        {        
            <a href="@pic"><img src="@pic" alt="Item Image" width="300" height="200"/></a>
        }
    }
</fieldset>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryId })
        @Html.Encode(" | ")       
    } 
    @Html.ActionLink("Back to List", "Index")
</p>

    @if (HttpContext.Current.Request.Url.AbsoluteUri == "http://www.soberaysons.com/Inventory/Details/1083" || HttpContext.Current.Request.Url.AbsoluteUri == "http://www.soberaysons.com/Inventory/Details/1083")
    {
        <div>
            <p>Combining diverse materials to produce  a smooth compound can be a challenging process. Consider, for example, how  widely degrees of hardness can vary in different materials.&nbsp; On some mixers, the rotor blade that works  effectively for one kind of material may not work as well for another kind of  material. Yet uniformity of texture and distribution is critical to the  successful mixing of a rubber compound. So how do you allow for divergent  materials and still achieve a smooth result?</p><p>&nbsp;</p>
            <p>Soberay and Sons has the answer. Our  new unused F270 Banbury rubber mixer is designed to meet the challenge of  cutting, combining, and mixing materials of low to high hardness. This Farrel  rubber mixer represents a major improvement over older rubber mixing machinery.  The F270 Banbury mixer has an  enhanced chamber, or mixer hopper, that holds up to 246 liters. The steep  angle of hopper door also makes it easier to add rubber and other materials  into the mixer.</p> <p>&nbsp;</p>
            <p>In addition, the four-wing rotor system  makes for a smoother mix, as each wing has its own specific function. Now it&rsquo;s  easier to introduce polymers into the mix without damaging their  attributes.&nbsp; It&rsquo;s also easier to disperse  the various materials evenly throughout the mix. With the Farrel brand F270 Banbury rubber mixer,  every step of the mixing process is quality controlled.</p> <p>&nbsp;</p>
            <p>Click on the item number below to see several different  perspectives of the Farrel rubber mixer. As you will see, this product is in  pristine condition. This is an excellent opportunity to obtain unused rubber  production equipment at a discount.&nbsp; The  F270 Banbury mixer offers several benefits: </p>
            <p>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;It achieves advanced mixing of a wide array of materials. </p>
            <p>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;It delivers excellent bond ratios and uniform polymer  bonding.</p>
            <p>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;It&rsquo;s easy to clean and maintain. </p>
            <p>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;It offers new machinery quality at a used-machinery  price. </p>
        </div>
    }
    else if (HttpContext.Current.Request.Url.AbsoluteUri == "http://www.soberaysons.com/Inventory/Details/5039" || HttpContext.Current.Request.Url.AbsoluteUri == "http://soberaysons.com/Inventory/Details/5039")
    {
        <div>
            <p>When  it comes to tire curing, so much depends on the quality of the mechanical tire  curing press. Soberay &amp; Sons now offers you an opportunity to acquire a highly  effective tire bladder press in addition to tire curing presses. Produced by the  respected tire equipment innovator Francis Shaw of England prior to its  acquisition by HF Mixing Group, this truck tire bladder press serves up 1050  tons of closing force, with a generous 84 inches of daylight between the  compression molds. </p><br>
            <p>Take  an up-close look, using our photo gallery below. Then request your free  quote or<a href="mailto:sales@soberaysons.com">email</a> us for sales and shipping details. We  thoroughly inspect our rubber-industry equipment for quality and would be happy  to answer any questions that you have. </p>
        </div>
    }
    else if (HttpContext.Current.Request.Url.AbsoluteUri == "http://www.soberaysons.com/Inventory/Details/5161" || HttpContext.Current.Request.Url.AbsoluteUri == "http://soberaysons.com/Inventory/Details/5161")
    {
        <div>
            <p>Once the first stage of  tire building is complete and while the tire is still green, it&rsquo;s time to  paint. Make sure that the look pre-vulcanization treatment of your tires lives up  to their superior form and function. With a pre-owned mechanical tire press  from Soberay &amp; Sons, high quality paint processing is available at an  affordable price.</p> <br>
            <p> Adjustable for passenger  vehicle tires of up to 17 inches and light truck tires of up to 20 inches, the  mechanical tire painter applies paint evenly and efficiently. Click on any of  the images below to examine the unit, which includes conveyer belt, adjustable spraying  tubes, and more. </p>
        </div>
    }
    else if (HttpContext.Current.Request.Url.AbsoluteUri == "http://www.soberaysons.com/Inventory/Details/5197" || HttpContext.Current.Request.Url.AbsoluteUri == "http://soberaysons.com/Inventory/Details/5197")
    {
        <div>
            <p>For a tire building machine  (TBM) that&rsquo;s versatile but also a good value, depend on Soberay &amp; Sons. &nbsp;Our used tire Steelastic unit is a winner on  both counts. It's ideal for the production of your fabric components.The tire  Steelastic unit really shines during the all-important extrusion phase, as it  processes rubber compounds and sets up parts for the tire-building phase. </p><br>
            <p> This is the real deal,  complete with all the components you need to achieve a steady cycle of  extrusion, cutting, and adjustable-width tire building.&nbsp; Review the detailed information and click on  the photos below for enlarged views of the machine parts. Then request your  free quote. Feel free to include any questions or to tell us more about your  TBM needs. Our specialty is personalized service!</p>
        </div>
    }
    else if (HttpContext.Current.Request.Url.AbsoluteUri == "http://www.soberaysons.com/Inventory/Details/5308" || HttpContext.Current.Request.Url.AbsoluteUri == "http://soberaysons.com/Inventory/Details/5308")
    {
        <div>
            <strong>OTR Strip Winder</strong>
            <p>Your tire building business  demands equipment that combines high productivity, reliable operation, and  quality engineering. At Soberay &amp; Sons, we search the globe to supply you  with tire machinery that meets that standard every time. Case in point, our Orbitread  OTR strip winder&mdash;it&rsquo;s built tough and runs smooth to build off road tires of up  to 33-inch bead size.</p><br>
            <p>Whether you plan to build new  tires or to retread and recycle OTR tires, our quality-built used OTR strip  winder is up to the challenge. Save time and money without compromising on  quality. This retread machine features adjustable positioning, dancing roll  control, a cold feed extruder, an arm for rasped tires, and more. Request your  free quote now. </p>
        </div>
    }
    else if (HttpContext.Current.Request.Url.AbsoluteUri == "http://www.soberaysons.com/Inventory/Details/1940" || HttpContext.Current.Request.Url.AbsoluteUri == "http://soberaysons.com/Inventory/Details/1940")
    {
        <div>
            <p>Built with quality and performance in mind, this  used set of four F270  Farrel mixer yokes will give your machines all the functionality that they  need in order to keep your operation running at maximum efficiency. The output  that can be gained by employing the use of well-built and well-maintained F270  yokes is immense. Just click on the pictures below to enlarge them. Contact us  today to learn more about this set of yokes for the F270 Farrel mixer. Our customer support  team is on hand and ready to assist you with any questions that you may have.</p>
        </div>
    }
