@{
    ViewBag.Title = "Soberay & Sons | Rubber Machinery | Rubber Equipment | Tire Machinery | Tire Equipment";
}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45577422-1', 'soberaysons.com');
  ga('send', 'pageview');

</script>
<fieldset class="blockstyle_cont blockstyle_cont__padding">
    <legend>Purchasing</legend>
    <p>Please send us the description and pictures of your available machinery.<br/>Email us at:<a href="mailto:purchasing@soberaysons.com?subject=Purchase An Item From Us">purchasing@soberaysons.com</a></p>
</fieldset>
<fieldset class="blockstyle_cont">
    <legend>Featured Rubber Machinery</legend>
    <div style="">
        @foreach (InventoryViewModel item in ViewBag.Rubber)
        {
            var url = item.PictureUrls.First();
            if (url != null && url != "noimage.gif")
            {
                <div class="blockstyle">
                    <a href="/Inventory/Details/@item.InventoryId">
                        <img src="@string.Format("{0}{1}", ViewBag.S3ImagePrefix, item.PictureUrls.FirstOrDefault())" alt="@item.Name" width="175" height="125" />
                    </a>
                    <p>@item.Manufacturer @item.Style @item.Category</p>
                </div> 
            }
        }
    </div>
</fieldset>
<br />
<fieldset class="blockstyle_cont">
    <legend>Featured Tire Machinery</legend>
    <div>
        @foreach (InventoryViewModel item in ViewBag.Tire)
        {
            var url = item.PictureUrls.First();
            if (url != null && url != "noimage.gif")
            {
                <div class="blockstyle">
                    <a href="/Inventory/Details/@item.InventoryId">
                        <img src="@string.Format("{0}{1}", ViewBag.S3ImagePrefix, item.PictureUrls.FirstOrDefault())" alt="@item.Name" width="175" height="125" />
                    </a>
                    <p>@item.Manufacturer @item.Style @item.Category</p>
                </div>                
            }
        }
    </div>
</fieldset>

<div class="blockstyle_text">
<p>Soberay & Sons has been supplying the rubber & plastic and silicone industries for three generations. We stock high quality used, second hand, pre-owned and rebuilt machinery, equipment and parts.</p><br>
<p>Manufacturers we stock include Adamson, Akron Standard, ASM, Barwell, Berstorff, Bolling, Comerio, Davis Standard, Emerson, Falk, Farrel, Francis Shaw, Freudenberg, High Tech Shaw, HPM, HF Rubber Machinery, Kobe, Kobelco, Krauss Maffei, KSBI, Lufkin, McNeil, Micro Poise, Monsanto, NRM, Royle, RMS, Rubicon, Spadone, Steelastic, Repiquet, RMS, Stewart Bolling, Troester, Veraco, Welex, Werner & Pfleiderer, W&P, WYKO, and many others.</p><br>
<p>Please <a href="http://www.soberaysons.com/Pages/Contact">contact us</a> to schedule an  inspection of our rubber equipment inventory warehoused in Cleveland and Akron,  Ohio</p>
</div>

<div style="text-align:center">
    <img src="/Content/img/trib2.png" alt="TRIB" style="height: 60px" />
    <img src="/Content/img/RTA.png" alt="RTA" style="height: 60px" />
    <img src="/Content/img/recycle_tire.png" style="height: 60px" alt="Recycle Tire" />
</div>